<div id="contacts__form_contact">
    <h1>CONTACTS__FORM_CONTACT__H1_NEW</h1>
    <p class="js_suplinkbox">
	<a href="#" id="contacts__form_contact__editall">
	    CONTACTS__FORM_CONTACT__EDITALL</a>
	<a href="#" id="contacts__form_contact__delete">
	    CONTACTS__FORM_CONTACT__DELETE</a>
    </p>
    <p>CONTACTS__FORM_CONTACT__INFOTEXT_NEW</p>
    <table id="contacts__form_contact__attributes"></table>
    <p>
	<a href="#" class="js_submit" id="contacts__form_contact__submit">
	    CONTACTS__FORM_CONTACT__SUBMIT_NEW</a>
    </p>
</div>
