<div id="contacts__profile">
    <h1>CONTACTS__PROFILE__H1</h1>
    <p>CONTACTS__PROFILE__INFOTEXT</p>
    <div id="contacts__profile__attributes">

    </div>
    <form action="#" onsubmit="users__login();">
	<fieldset>
	    <legend></legend>
	    <label for="users__login__email">USERS__LOGIN__FORM__USERNAME</label>
	    <input type="text"
	    placeholder="USERS__LOGIN__FORM__USERNAME__PLACEHOLDER"
		id="users__login__email" />
	    <div>USERS__LOGIN__FORM__USERNAME__HELP</div>
	    <div style="clear:both;"></div>

	    <label for="users__login__password">USERS__LOGIN__FORM__PASSWORD</label>
	    <input type="password"
	    placeholder="USERS__LOGIN__FORM__PASSWORD__PLACEHOLDER"
		id="users__login__password" />
	    <div>USERS__LOGIN__FORM__PASSWORD__HELP</div>
	    <div style="clear:both;"></div>
	</fieldset>
	<input type="submit" value="USERS__LOGIN__FORM__SUBMIT" />
    </form>
</div>
