<div id="users__login">
    <h1>USERS__LOGIN__H1</h1>
    <p>USERS__LOGIN__INFOTEXT</p>
    <p>
	USERS__LOGIN__NOACCOUNT
	<a href="#" onclick="
	    JSunic.run('JSunic.appview(\'users\', \'register\');');">
	    USERS__LOGIN__REGISTERNOW</a>
    </p>
    <form action="#" onsubmit="login();">
	<fieldset>
	    <legend>USERS__LOGIN__FORM__LEGEND</legend>
	    <label for="email">USERS__LOGIN__FORM__USERNAME</label>
	    <input type="text"
	    placeholder="USERS__LOGIN__FORM__USERNAME__PLACEHOLDER"
		id="email" />
	    <div>USERS__LOGIN__FORM__USERNAME__HELP</div>
	    <div style="clear:both;"></div>

	    <label for="password">USERS__LOGIN__FORM__PASSWORD</label>
	    <input type="text"
	    placeholder="USERS__LOGIN__FORM__PASSWORD__PLACEHOLDER"
		id="password" />
	    <div>USERS__LOGIN__FORM__PASSWORD__HELP</div>
	    <div style="clear:both;"></div>
	</fieldset>
	<input type="submit" value="USERS__LOGIN__FORM__SUBMIT" />
    </form>
</div>
