<div id="users__login">
    <h1>USERS__LOGIN__H1</h1>
    <p>USERS__LOGIN__INFOTEXT</p>
    <p>
	USERS__LOGIN__NOACCOUNT
	<a href="#" onclick="
	    JSunic.appview('users', 'register', false);">
	    USERS__LOGIN__REGISTERNOW</a>
    </p>
    <form action="#" onsubmit="users__login();">
	<fieldset>
	    <legend>USERS__LOGIN__FORM__LEGEND</legend>
	    <label for="users__login__email">USERS__LOGIN__FORM__USERNAME</label>
	    <input type="text"
	    placeholder="USERS__LOGIN__FORM__USERNAME__PLACEHOLDER"
		id="users__login__email" />
	    <div>USERS__LOGIN__FORM__USERNAME__HELP</div>
	    <div style="clear:both;"></div>

	    <label for="users__login__password">USERS__LOGIN__FORM__PASSWORD</label>
	    <input type="password"
	    placeholder="USERS__LOGIN__FORM__PASSWORD__PLACEHOLDER"
		id="users__login__password" />
	    <div>USERS__LOGIN__FORM__PASSWORD__HELP</div>
	    <div style="clear:both;"></div>
	</fieldset>
	<input type="submit" value="USERS__LOGIN__FORM__SUBMIT" />
    </form>
    <script type="text/javascript">
	//$('users__login__email').focus();
    </script>
</div>
