<div id="users__register">
    <h1>USERS__REGISTER__H1</h1>
    <p>USERS__REGISTER__INFOTEXT</p>
    <p>
	USERS__REGISTER__HAVEACCOUNT
	<a href="#" onclick="
	    JSunic.appview('users', 'login');">
	    USERS__REGISTER__LOGINNOW</a>
    </p>
    <form action="#" onsubmit="users__register();">
	<fieldset>
	    <legend>USERS__REGISTER__FORM__LEGEND</legend>
	    <label for="email">USERS__REGISTER__FORM__EMAIL</label>
	    <input type="text"
		placeholder="USERS__REGISTER__FORM__EMAIL__PLACEHOLDER"
		id="email" />
	    <div>USERS__REGISTER__FORM__EMAIL__HELP</div>
	    <div style="clear:both;"></div>

	    <label for="password">USERS__REGISTER__FORM__PASSWORD</label>
	    <input type="password"
		placeholder="USERS__REGISTER__FORM__PASSWORD__PLACEHOLDER"
		id="password" />
	    <div>USERS__REGISTER__FORM__PASSWORD__HELP</div>
	    <div style="clear:both;"></div>

	    <label for="mbr">USERS__REGISTER__FORM__MBR</label>
	    <input type="text"
		placeholder="USERS__REGISTER__FORM__MBR__PLACEHOLDER"
		id="mbr" />
	    <div>
		USERS__REGISTER__FORM__MBR__HELP
	    </div>
	    <div style="clear:both;"></div>
	</fieldset>
	<input type="submit" value="USERS__REGISTER__FORM__SUBMIT" />
    </form>
    <script type="text/javascript">
	document.getElementById("mbr").setAttribute(
	    "value", JSunic.Config.get('mbr'));
    </script>
</div>
