<div id="core__bootinit">
    <h1>CORE__BOOTINIT__H1</h1>
    <p>CORE__BOOTINIT__INFOTEXT</p>
    <form action="#" onsubmit="core__bootinit();">
	<fieldset>
	    <legend>CORE__BOOTINIT__FORM__LEGEND</legend>
	    <label for="boot__coreinit__path">CORE__BOOTINIT__FORM__PATH</label>
	    <input type="text"
	    placeholder="CORE__BOOTINIT__FORM__PATH__PLACEHOLDER"
		id="core__bootinit__path" />
	    <div>CORE__BOOTINIT__FORM__PATH__HELP</div>
	    <div style="clear:both;"></div>
	</fieldset>
	<input type="submit" value="CORE__BOOTINIT__FORM__SUBMIT" />
    </form>
</div>
